<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
</head>
<body>
    <div class="container">
        <h class="aom1">Aesthetics of&nbsp;music</h><br>
        <h class="aom">Welcome to&nbsp;music shop, where You can buy music of&nbsp;any genres and on&nbsp;any media.</h>
        <div class="header"><br>
            <div class="logo"><a href="/.html"><img src="/static/img/logo.png" alt="Go to main" title="Go to main" width="50px"></a></div>
        <div class="menum">
            <a href="{% url 'index' %}">main</a>&emsp;
            <a href="{% url 'products' %}">catalogue</a>&emsp;
            <a href="{% url 'contacts' %}">contacts</a>
        </div>
        </div><br>
        <h class="aom">Catalogue</h>
    <div class="content">
    <p1 class="l1">
    <p2 class="l11">
    <p class="dtls">Computer Graphics&nbsp;&mdash; Lo-Fi</p>
    <p><img src="Content/Cassete/smCG01.png" alt="Computer Graphics - Lo-Fi" title="Front Computer Graphics - Lo-Fi" width="150px"></p>
        <p class="dtls2">
        Label: Dream Catalogue<br>
        Format: Cassette, Album<br>
        Catalogue number: DREAM_256<br>
        Country: UK<br>
        Released: 2017<br>
        Genre: Electronic<br>
        Style: House, Techno, Lo-Fi</p>
    <p class="lnk"><a href="product01CG.html">See more info...</a></p>
    </p2>
    <p2 class="l11">
    <p class="dtls">My&nbsp;Bloody Valentine&nbsp;&mdash; Isn&rsquo;t Anything</p>
    <p><img src="Content/Cassete/smMBV01.png" alt="My Bloody Valentine - Isnt Anything" width="140px"></p>
        <p class="dtls2">
        Label: Creation Records<br>
        Format: Cassette, Album<br>
        Catalogue number: 50677<br>
        Country: France<br>
        Released: 1988<br>
        Genre: Rock<br>
        Style: Indie Rock, Shoegaze<br></p>
    <p class="lnk"><a href="product02MBV.html">See more info...</a></p>
    </p2>
    <p2 class="l11">
    <p class="dtls">Tstewart&nbsp;&mdash; The Image Generation</p>
    <p><img src="Content/Cassete/smTSWRT01.png" alt="Tstewart - The Image Generation" width="185px"></p>
        <p class="dtls2">
        Label: LuckyMe<br>
        Format: Cassette, Album, Limited Edition, Special Edition<br>
        Catalogue number: None<br>
        Country: UK<br>
        Released: 2010<br>
        Genre: Electronic, Rock, Folk, World, Country<br>
        Style: Psychedelic Rock</p>
    <p class="lnk"><a href="product03TSTWR.html">See more info...</a></p>
    </p2>
    </p1>
    <p1 class="l2">
    <p2 class="l22">
    <p class="dtls">Antibalas&nbsp;&mdash; Talkatif</p>
    <p><img src="Content/CD/smAB01.png" alt="Antibalas - Talkatif"></p>
        <p class="dtls2">
        Label: Ninja Tune<br>
        Catalogue number: ZENCD66<br>
        Format: CD, Album<br>
        Country: UK<br>
        Released: 2002<br>
        Genre: Jazz, Funk, Soul<br>
        Style: Afrobeat, Funk<br>
    <p class="lnk"><a href="product04ANTB.html">See more info...</a></p>
    </p2>
    <br>
    <p2 class="l22">
    <p class="dtls">Brian Eno&nbsp;&mdash; Thursday Afternoon</p>
    <p><img src="Content/CD/smBE01.png" alt="Brian Eno - Thursday Afternoon"></p>
        <p class="dtls2">
        Label: EG<br>
        Catalogue number: EGCD64<br>
        Format: CD, Album<br>
        Country: UK<br>
        Released: 1985<br>
        Genre: Electronic<br>
        Style: Abstract, Ambient<br>
    <p class="lnk"><a href="product05BE.html">See more info...</a></p>
    </p2>
    <br>
    <p2 class="l22">
    <p class="dtls">Cooper-Moore&nbsp;/ Assif Tsahar&nbsp;&mdash; Tells Untold</p>
    <p><img src="Content/CD/smCMAT01.png" alt="Cooper-Moore / Assif Tsahar - Tells Untold"></p>
        <p class="dtls2">
        Label: Hopscotch Records<br>
        Format: CD, Album<br>
        Catalogue number: HOP 30<br>
        Country: US<br>
        Released: 2005<br>
        Genre: Jazz<br>
        Style: Free Improvisation<br>
    </p>
    <p class="lnk"><a href="product06CMAT.html">See more info...</a></p>
    </p2>
    </p1>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <p1 class="l3">
    <p2 class="l33">
    <p class="dtls">Jaga Jazzist&nbsp;&mdash; The Stix</p>
    <p><img src="Content/LP/smJJ01.png" alt="Jaga Jazzist - The Stix"></p>
        <p class="dtls2">
        Label: Ninja Tune<br>
        Format: 2 &times; Vinyl, LP, Album, Gatefold<br>
        Catalogue number: ZEN81<br>
        Country: UK<br>
        Released: 2003<br>
        Genre: Electronic<br>
        Style: Trip Hop, Future Jazz, Downtempo<br>
    </p>
    <p class="lnk"><a href="product07JJ.html">See more info...</a></p>
    </p2>
    <br>
    <p2 class="l33">
    <p class="dtls">Pinkshinyultrablast&nbsp;&mdash; Everything Else Matters</p>
    <p><img src="Content/LP/smPSUB01.png" alt="Pinkshinyultrablast - Everything Else Matters"></p>
        <p class="dtls2">
        Label: Club AC30&nbsp;/ Shelflife Records<br>
        Format: Vinyl, LP, Album, Limited Edition, Grey Translucent<br>
        Catalogue number: 111111&nbsp;/ LIFE118<br>
        Country: UK<br>
        Released: 2015<br>
        Genre: Rock<br>
        Style: Shoegaze<br>
    </p>
    <p class="lnk"><a href="product08PSUB.html">See more info...</a></p>
    </p2>
    <br>
    <p2 class="l33">
    <p class="dtls">Pixelord&nbsp;&mdash; Places</p>
    <p><img src="Content/LP/smPXLRD01.png" alt="Pixelord - Places"></p>
        <p class="dtls2">
        Label: Hyperboloid<br>
        Format: Vinyl, LP, Album, Limited Edition, blue<br>
        Catalogue number: HYPR037LP<br>
        Country: Russia<br>
        Released: 2015<br>
        Genre: Electronic<br>
        Style: UK&nbsp;Garage, Dubstep, Hip Hop<br>
    </p>
    <p class="lnk"><a href="product09PXLRD.html">See more info...</a></p>
    </p2>
    </p1>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <p1 class="l4">
    <p2 class="l44">
    <p class="dtls">Various&nbsp;&mdash; Fly Russia</p>
    <p><img src="Content/MP3/smFR.png" alt="Various - Fly Russia"></p>
        <p class="dtls2">
        Label: Error Broadcast<br>
        Format: 17 &times; File, MP3, Compilation<br>
        Catalogue number: EBC009<br>
        Country: Germany<br>
        Released: 2010<br>
        Genre: Electronic, Hip Hop<br>
        Style: Abstract, Bass Music<br>
    </p>
    <p class="lnk"><a href="product10FL.html">See more info...</a></p>
    </p2>
    <br>
    <p2 class="l44">
    <p class="dtls">Macc&nbsp;&mdash; Air Drumming</p>
    <p><img src="Content/MP3/smMCC.png" alt="Macc - Air Drumming"></p>
        <p class="dtls2">
        Label: Plain Productions<br>
        Format: 3 &times; File, 320 kbps<br>
        Catalogue number: pp014md<br>
        Country: Germany<br>
        Released: 2006<br>
        Genre: Electronic<br>
        Style: Drum n&nbsp;Bass<br>
    </p>
    <p class="lnk"><a href="product11MCC.html">See more info...</a></p>
    </p2>
    <br>
    <p2 class="l44">
    <p class="dtls">RL/VL&nbsp;&mdash; Tardypoints</p>
    <p><img src="Content/MP3/smRVLV.png" alt="RL/VL - Tardypoints"></p>
        <p class="dtls2">
        Label: Acroplane Recordings<br>
        Format: 5 &times; File, MP3, EP, 320 kbps<br>
        Catalogue number: ACP024<br>
        Country: Ireland<br>
        Released: 2008<br>
        Genre: Electronic<br>
        Style: Downtempo, Ambient<br>
    </p>
    <p class="lnk"><a href="product12RLVL.html">See more info...</a></p>
    </p2>
    </p1>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <div class="footer">
    All rights reserved 2019&nbsp;&copy;
    </div>
    </div>
</body>
</html>